*{
    box-sizing: border-box
}

.container{
    width: 1000px;
    background-color: silver;
    padding:20px;

    
}
img {
    width:200px;
}
.first-row {
    height: 300px;
    background-color:rgb(96,203,251);
    margin:20px;
    padding:40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:10px;
    
}
.second-row {
    height: 300px;
    background-color: rgb(215,166,170);
    margin:20px;
    padding:40px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    gap:10px;

}

.third-row {
    height: 300px;
    background-color:white;
    margin:20px;
    padding:40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:10px;


}

